/* Стили для горизонтального скролла товаров */
.scroll-container {
    display: flex;
    overflow-x: auto;
    gap: 5px;
    padding: 15px 0;
    scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
    height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
    background: #888;
}

.scroll-container>.card {
    flex: 0 0 auto;
}