<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: rgba(231, 231, 231, 0.322);">
    <!-- Шапка -->
    {% include 'mainapp/header.html' %}
    <div class="accent-strip"></div>

    <!-- Основной контент -->
    <section class="content-section">
        <div class="container" id="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <!-- Подвал -->
    {% include 'mainapp/footer.html' %}

    <script src="/static/bootstrap_js/bootstrap.bundle.min.js"></script>
    <script>
        const navTabs = document.getElementById('nav-tabs');
        const mainContent = document.getElementById('main-content');


        function getGoodCard(good) {
            const goodDiv = document.createElement('div');
            goodDiv.id = `good-div${good.id}`;

            const cardDiv = document.createElement('div');
            cardDiv.className = 'card';
            cardDiv.style = 'width: 18rem;';
        
            const cardImage = document.createElement('img');
            cardImage.className = 'card-img-top';

            if (good.image == null) {
                cardImage.src = "static/imgs/wo-image.bmp";    
            } else {
                cardImage.src = good.image;
            };
            cardDiv.appendChild(cardImage);

            const cardBody = document.createElement('div');
            cardBody.className = "card-body";
            cardDiv.appendChild(cardBody);

            const cardTitle = document.createElement('h5');
            cardTitle.className = 'card-title';
            cardTitle.innerText = good.name;
            cardBody.appendChild(cardTitle);

            const cardSubTitle = document.createElement('h6');
            cardSubTitle.className = 'card-subtitle mb-2 text-body-secondary';
            cardSubTitle.innerText = `${good.price} ₽`;
            cardBody.appendChild(cardSubTitle);

            const cardText = document.createElement('p');
            cardText.className = 'card-text';
            cardText.innerText = good.description;
            cardBody.appendChild(cardText);

            goodDiv.appendChild(cardDiv)
            return goodDiv
            ;
        }


        async function changeContent(categoryId) {

            try {
                const response = await fetch(`http://localhost:8000/api/categories/${categoryId}/`);
                const categories = await response.json();

                mainContent.innerHTML = '';
                categories.subcategories.forEach(subcategory => {
                    const subcategoryDiv = document.createElement('div');
                    const goods = subcategory.goods;
                    const p = document.createElement('p');
                    p.className = 'text-black-50 text-center';
                    p.innerText = subcategory.name;

                    const hr = document.createElement("hr");

                    subcategoryDiv.id = `subcategory-div${subcategory.id}`;

                    subcategoryDiv.appendChild(p);

                    goods.forEach(good => {

                        subcategoryDiv.appendChild(getGoodCard(good));

                    });

                    subcategoryDiv.appendChild(hr);

                    mainContent.appendChild(subcategoryDiv);

                });
            }
            catch (error) {
                console.error('Ошибка при получении списка подкатегорий: ', error);
            };
        };


        async function addNavTabs() {
            try {
                const response = await fetch("http://localhost:8000/api/categories/");
                const categories = await response.json();

                categories.forEach(element => {
                    const li = document.createElement("li");
                    const button = document.createElement("button");
                    const h3 = document.createElement("h3");
                    li.className = 'nav-item';
                    li.id = `nav-category-${element.id}`;
                    button.className = 'nav-link';
                    button.type = 'button';
                    button.onclick = function () { changeContent(element.id); };
                    h3.innerHTML = element.name;
                    button.appendChild(h3);
                    li.appendChild(button);
                    navTabs.appendChild(li);
                });
            }
            catch (error) {
                console.error("Ошибка при загрузке Нивигационных категорий:", error);
            };
        };

        document.addEventListener("DOMContentLoaded", () => {
            addNavTabs();
        });
    </script>

</body>

</html>