<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/my_style.css">
    <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: rgba(231, 231, 231, 0.322);">
    <!-- Шапка -->
    {% include 'mainapp/header.html' %}
    <div class="accent-strip"></div>

    <!-- Основной контент -->
    <section class="content-section">
        {% block content %}
        {% endblock %}
    </section>

    <!-- Подвал -->
    {% include 'mainapp/footer.html' %}
</body>

<script src="/static/bootstrap_js/bootstrap.bundle.min.js"></script>
<script src="/static/js/services.js"></script>
<script src="/static/js/at_start.js"></script>

</html>